<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<style>
    .sideNav {
        display: inline;
    }

    .btn1, .btn2 {
        background: none;
        border: none;
        color: white;
    }

    .btn1:hover, .btn2:hover {
        color: rgb(146, 146, 146);
    }

    .btn1 {
        margin-top: 10px;
    }

    .btn2 {
        margin-top: 20px;
    }
</style>
<body>
    <div class="sideNav">
        <form action="/user">
            <button type="submit" class="fas fa-user-alt btn1" style="font-size:24px"></button>
        </form>
    </div>
</body>
</html>