<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>New Playlist</title>
</head>
<style>
    body {
        align-items: center;
        background-color: rgb(35, 35, 35);
        height: 100vh;
    }

    .title {
        color: white;
        font-family: Helvetica;
        font-size: 30px;
        font-weight: 600;
        margin-top: -30px;
        margin-bottom: 50px;
        margin-left: 70px;
    }

    .new-playlist-form {
        margin-left: 70px;
        margin-top: -20px;
    }

    .image {
        margin-top: -35px;
        margin-left: 70px;
        margin-bottom: 20px;
        height: 160px;
        width: 160px;
        background-color: lightgray;
        opacity: 50%;
    }

    .createBtn {
        margin-left: 5px;
        border-radius: 25px;
        font-size: 13px;
        height: 20px;
        font-family: helvetica;
        background-color: yellowgreen;
        border: none;
    }

    .createBtn:hover {
        background-color: rgb(96, 161, 0);
        border: none;
    }

    input {
        background-color: lightgray;
        border-radius: 12px;
        border: 0;
        font-size: 12px;
        height: 20px;
        padding-left: 10px;
    }

    .cancelBtn {
        margin-left: 275px;
        width: 55px;
        border-radius: 25px;
        font-size: 13px;
        height: 20px;
        font-family: helvetica;
        background-color: yellowgreen;
        border: none;
    }

    .cancelBtn:hover {
        background-color: rgb(96, 161, 0);
        border: none;
    }
</style>
<%- include('../partials/sideNav') %>
<body>
    <div class="title">
        Create a new playlist
    </div>
    <div class="image">
    </div>
    <form action="/user">
        <button type="submit" class="cancelBtn">cancel</button>
    </form>
    <div class="new-playlist-form">
        <form action="/playlist" method="POST">
            <input type="text" name="name" placeholder="playlist name">
            <button class="createBtn" type="submit">create</button>
        </form>
    </div>
</body>
</html>