<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Track</title>
</head>
<style>
    body {
        align-items: center;
        background-color: rgb(35, 35, 35);
        height: 100vh;
    }

    .title {
        color: white;
        font-family: Helvetica;
        font-size: 30px;
        font-weight: 600;
        margin-top: -10px;
        margin-bottom: 50px;
        margin-left: 70px;
    }

    .new-track-form {
        margin-left: 70px;
        margin-top: -20px;
    }

    .addBtn {
        margin-left: 5px;
        width: 40px;
        border-radius: 25px;
        font-size: 13px;
        height: 20px;
        font-family: helvetica;
        background-color: yellowgreen;
        border: none;
    }

    .addBtn:hover {
        background-color: rgb(96, 161, 0);
        border: none;
    }

    .cancelBtn {
        margin-left: 413px;
        width: 55px;
        border-radius: 25px;
        font-size: 13px;
        height: 20px;
        font-family: helvetica;
        background-color: yellowgreen;
        border: none;
    }

    .cancelBtn:hover {
        background-color: rgb(96, 161, 0);
        border: none;
    }

    input {
        background-color: lightgray;
        border-radius: 12px;
        border: 0;
        font-size: 12px;
        height: 20px;
        padding-left: 8px;
    }

    .artist-input {
        margin-left: 10px;
    }
</style>
<%- include('../partials/sideNav') %>
<body>
    <div class="title">
        Add a new track
    </div>
    <form action="/playlist/<%= playlist._id %>">
        <button class="cancelBtn">cancel</button>
    </form>
    <form class="new-track-form" action="/playlist/<%= playlist._id %>" method="POST">
        <input class="song-input" type="text" name="song" placeholder="song name">
        <input class="artist-input" type="text" name="artist" placeholder="artist">
        <button class="addBtn" type="submit">add</button>
    </form>
</body>
</html>